@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800&family=Poppins:wght@300;400&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "content-1"
        "content-2"
        "content-3"
        "content-4"
        "content-5"
        "content-6";
}

.content-1 {
    grid-area: content-1;
    height: 100vh;
    width: 100vw;
}

.content-2 {
    grid-area: content-2;
    height: 122vh;
    width: 100vw;
}

.content-3 {
    grid-area: content-3;
    height: 110vh;
    width: 100vw;
}

.content-4 {
    grid-area: content-4;
    height: min-content;
    width: 100vw;
}

.content-5 {
    grid-area: content-5;
    height: 100vh;
    width: 100vw;
}

.content-6 {
    grid-area: content-6;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

/* .content-1  */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/andre-reis-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 115vh;
    width: 100vw;
}

header {
    display: flex;
    background-color: rgba(9, 6, 1, 0.75);
    position: fixed;
    z-index: 1;
    top: 6px;
}

header .header-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    float: left;
    position: relative;
    width: 100vw;
    text-transform: uppercase;
}

/* hamburgermenyn HANN TYVÄRR INTE GÖRA DET BÄTTRE ÄN SÅHÄR */

.header-text #menu-links {
    display: none;
}

.header-text #menu-links a:hover {
    background-color: rgba(191, 146, 91, 0.3);
}

.header-text a {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.header-text h1 {
    float: left;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-size: 33px;
    font-weight: 700;
    padding: 2px;
    margin: 0px 0px 2px 8px;
    letter-spacing: 0.3px;
}

nav {
    margin: 0px;
}

nav .fa.fa-bars:active {
    color: rgb(191 146 91);
}

nav .fa.fa-bars:hover {
    color: rgb(191 146 91);
}

.banner .banner-text {
    display: flex;
    flex-direction: column;
}

.banner-text h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(191 146 91);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 50% 0% 1% 0%;
    padding-left: 2%;
    font-size: 1.5em;
}

.banner-text h3 {
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2.5em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0% 0% 6% 0%;
    width: 98vw;
    padding-left: 2%;
}

.banner-text h3 .outline-text {
    color: rgba(234, 240, 246, 0);
    -webkit-text-stroke: 1.1px white;
    width: 100vw;
}

.banner-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #ffffff;
    line-height: 30px;
    margin: 0% 4% 10% 0%;
    padding-left: 3%;
}

.banner .banner-text .about {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgba(234, 240, 246, 0);
    width: 55%;
    padding: 0px;
    align-items: center;
    margin: 2% 0px 0px 3%;
}

.about a {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.1em;
    color: rgb(191 146 91);
    border: 2.5px solid rgb(191 146 91);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 4% 6% 3% 9%;
    white-space: nowrap;
    margin-right: 45px;
}

.about a:link {
    color: rgb(191 146 91);
    text-decoration: none;
}

.about a:visited {
    color: rgb(191 146 91);
    text-decoration: none;
}

.about a:hover {
    color: rgb(191 146 91);
    text-decoration: none;
}

/* services */

.services .services-text {
    display: grid;
    grid-template-areas:
        "."
        "hair-styles"
        "beard-trim";
    grid-template-rows: 12vh 55vh 55vh;
}

.services-text .hair-styles {
    grid-area: hair-styles;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(191 146 91);
}

.services-text .beard-trim {
    grid-area: beard-trim;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(183 134 73);
}

.services-text h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0 0 4% 0;
}

.services-text p {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255, 0.8);
    font-size: 1em;
    text-align: center;
    line-height: 1.9em;
    margin: 0;
}

.hair-client img {
    margin-top: calc(0vh - 112px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 150px;
    clip-path: circle(40%);
    opacity: 89%;
}

.beard-trim img {
    margin-top: calc(0vh - 106px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 170px;
    clip-path: circle(40%);
    opacity: 96%;
}

/*sida 2 services*/

.services2-text {
    display: grid;
    grid-template-areas:
        "hot-shave"
        "hair-shampoo";
    grid-template-rows: 55vh 55vh;
}

.services2-text .hot-shave {
    grid-area: hot-shave;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(191 146 91);
    width: 100vw;
}

.services2-text .hair-shampoo {
    grid-area: hair-shampoo;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(183 134 73);
    width: 100vw;
}

.services2-text h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0 0 4% 0;
}

.services2-text p {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255, 0.8);
    font-size: 1em;
    text-align: center;
    line-height: 1.9em;
    margin: 0;
}

.shave-client img {
    margin-top: calc(0vh - 112px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 150px;
    clip-path: circle(40%);
    opacity: 95%;
}

.shampoo-client img {
    margin-top: calc(0vh - 112px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 150px;
    clip-path: circle(40%);
    opacity: 94%;
}

/*about us*/

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    max-width: 100vw;
}

.about-us img {
    flex-direction: column;
    margin-top: 1em;
    height: 50vh;
    width: 94vw;
    padding-left: 0%;
    object-fit: cover;
}

.about-barber {
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
}

.about-us h2 {
    display: inline-block;
    flex-direction: column;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(20 27 37);
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2%;
}

.about-us h3 {
    flex-direction: column;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(191 146 91);
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 11%;
    margin-bottom: 0;
}

.about-us .about-barber p {
    margin: 0;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    color: rgba(20, 27, 37, 0.750);
    line-height: 1.8em;
    padding-right: 1em;
}

.experience {
    display: flex;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #ffffff;
    background-color: rgb(191 146 91);
    width: 50%;
    margin-top: 7%;
    margin-bottom: 3%;
}

.experience i {
    display: inline-block;
    flex-direction: row;
    border: solid 15px black;
    border-radius: 50%;
    background-color: black;
    margin: 7%;
}

.about-barber .experience p {
    flex-direction: row;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.7em;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    line-height: 0.8rem;
    margin: 3%;
}

.experience .experience-20 {
    flex-direction: row;
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2.4em;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 18%;
}

/* recensioner */

.content-5 {
    background-color: rgb(235 232 222);
}

.review-desktop {
    display: none;
}

.review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30% auto 0% 15px;
    max-width: 100vw;
    align-items: center;
}

.about-review {
    flex-direction: column;
    max-width: 70vw;
    text-align: center;
}

.about-review h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(191 146 91);
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 3%;
}

.about-review h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    color: rgba(20, 27, 37, 0.98);
    text-transform: uppercase;
    margin-bottom: 30%;
    margin-top: 0%;
}

/* carouselslide TYVÄRR HANN JAG INTE ÄNDRA FÖR DESKTOP */

.slideshow {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.review-slide {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 1%;
    color: rgba(191, 146, 91, 0.2);
}

.prev {
    /* tillagd av mig */
    color: rgba(191, 146, 91, 0.2);
    padding-left: 1%;
}

.prev:hover,
.next:hover {
    color: rgb(191 146 91);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 3px;
    margin-bottom: 15%;
    background-color: #a0a0a045;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgb(191 146 91);
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.6
    }

    to {
        opacity: 0.9
    }
}

.review-slide {
    flex-direction: column;
    margin-right: 3.5%;
    background-color: white;
    margin-bottom: 5%;
}

.quote-icon {
    position: relative;
    left: 3%;
    top: -12px;
    border: 12px solid rgb(191 146 91);
    background-color: rgb(191 146 91);
    padding: 8px 8px 6px 8px;
    clip-path: circle(40%);
}

.review-slide i {
    color: white;
}

.review-costumer {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0% 10% 0%;
    max-height: 200.492px;
    /* baserat på happy-costumer2:s höjd */
}

blockquote.author {
    margin: 2% 0% 0% 2%;
}

blockquote p {
    margin: 0% 0% 3% 0%;
    line-height: 1.8em;
}

blockquote .stars {
    color: rgb(191 146 91);
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

blockquote .roger {
    color: black;
    font-size: 1.2em;
    font-weight: 800;
}

blockquote .costumer {
    color: rgb(191 146 91);
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
}


.review-slide blockquote {
    font-family: 'Poppins', sans-serif;
    color: rgb(81, 81, 81)
}

.main-quote {
    line-height: 2em;
    margin: 0% 10% 0% 5%;
}

.happy-costumer {
    margin: 1% 0% 0% 5%;
}

.happy-costumer img {
    display: inline-block;
    flex-direction: row;
    margin-top: -18%;
    height: auto;
    width: 100px;
}

.happy-costumer2 {
    margin-left: 5%;
}

.happy-costumer2 img {
    margin-top: 10%;
    height: auto;
    width: 100px;
}

.happy-costumer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    clip-path: circle(40%);
}

.happy-costumer2 {
    width: 100px;
    height: 100px;
    overflow: hidden;
    clip-path: circle(40%);
}

/* footer */

.content-6 {
    min-height: 105vh;
}

footer {
    height: min-content;
}

.footer-text {
    margin-left: 2%;
}

footer .some-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 3%;
}

.twitter-position {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.facebook-position {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instagram-position {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.some-icons .twitter {
    border: 8px solid rgb(191 146 91);
    color: white;
    background-color: rgb(191 146 91);
    padding: 8px 24px 6px 8px;
    border-radius: 50px 50px 50px 50px;
    width: 3%;
}

.some-icons .facebook {
    border: 8px solid rgb(191 146 91);
    color: white;
    background-color: rgb(191 146 91);
    padding: 8px 24px 6px 8px;
    border-radius: 50px 50px 50px 50px;
    width: 3%;
}

.some-icons .instagram {
    border: 8px solid rgb(191 146 91);
    color: white;
    background-color: rgb(191 146 91);
    padding: 8px 24px 6px 8px;
    border-radius: 50px 50px 50px 50px;
    width: 3%;
}

.some-icons i {
    padding-left: 3px;
}

.some-icons a:link {
    color: white;
}

.some-icons a:visited {
    color: white;
}

.some-icons a:hover {
    color: white;
}

footer h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    padding-left: 0%;
    line-height: 2em;
}

li .list-arrow {
    padding-right: 2%;
}

footer li {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: #ffffffc2;
}

ul.contact i {
    color: rgb(191 146 91);
    padding-right: 3%;
}

li p {
    display: inline-block;
    margin: 0;
    padding-left: 7%;
}

a[href*="tel:"]:link {
    text-decoration: none;
    color: #ffffffc2;
}

/* För användarvänlighet */
a[href*="tel:"]:hover {
    text-decoration: underline;
    color: #ffffffec;
}

a[href*="mailto"]:link {
    text-decoration: none;
    color: #ffffffc2;
}

/* För användarvänlighet */
a[href*="mailto"]:hover {
    text-decoration: underline;
    color: #ffffffec;
}

/* media querys */

@media screen and (max-width: 480px) {
    .banner-text p {
        font-size: 1em;
    }
}

@media screen and (min-width: 480px) {

    /* .content-1  */

    /* hamburgermenyn */

    .header-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .header-text a {
        font-size: 1.5em;
    }

    .header-text a:first-child {
        padding-top: 5%;
    }

    .header-text h1 {
        font-size: 2.8em;
    }

    nav .fa.fa-bars {
        margin-top: -2%;
        margin-right: 3%;
        float: right;
        font-size: 25px;
        color: white;
    }

    .banner-text p {
        max-width: 90vw;
        font-size: 1.1em;
    }

    .banner .banner-text .about {
        width: min-content;
    }

    .about p a {
        white-space: nowrap;
        margin-right: 45px;
    }

    /* services */

    .services-text h2 {
        font-size: 2.1em;
        padding-top: 1%;
    }

    .services-text p {
        font-size: 1.3em;
        line-height: 2em;
        padding: 4% 2% 0% 2%;
    }

    .hair-client img {
        margin-top: calc(0vh - 112px);
        /* MIKKOOOOOO ta väldigt gärna en titt på denna uträkning :') */
    }

    .beard-trim img {
        margin-top: calc(0vh - 106px);
    }

    /*sida 2 services*/

    .services2-text h2 {
        font-size: 2.1em;
        padding-top: 1%;
    }

    .services2-text p {
        font-size: 1.3em;
        line-height: 2em;
        padding: 4% 2% 0% 2%;
    }

    .shave-client img {
        margin-top: calc(0vh - 112px);
    }

    .shampoo-client img {
        margin-top: calc(0vh - 112px);
    }

    /*about us*/

    .about-us h2 {
        font-size: 1.8em;
    }

    .about-us h3 {
        font-size: 2.5em;
        max-width: 95%;
    }

    .about-us .about-barber p {
        font-size: 1.1em;
        line-height: 2em;
    }

    .experience {
        width: 45%;
    }

    .experience i {
        border: solid 25px black;
    }

    .about-barber .experience p {
        font-size: 1em;
        line-height: 1rem;
    }

    .about-us img {
        padding-left: 0%;
    }

    /* recensioner */

    .review {
        margin-top: 15%;
    }

    .about-review {
        max-width: 80vw;
    }

    .about-review h2 {
        font-size: 1.8em;
    }

    .about-review h3 {
        font-size: 2.5em;
    }

    /* carouselslide */

    .prev,
    .next {
        font-size: 28px;
    }

    .next {
        right: 2%;
    }

    .dot {
        height: 15px;
        width: 15px;
    }

    .quote-icon {
        border: 18px solid rgb(191 146 91);
    }

    .review-costumer {
        max-height: min-content;
    }

    blockquote p {
        font-size: 1.3em;
        padding-top: 5%;
    }

    .happy-costumer img {
        width: 150px;
    }

    .happy-costumer2 img {
        width: 150px;
    }

    .happy-costumer {
        width: 150px;
        height: 150px;
    }

    .happy-costumer2 {
        width: 150px;
        height: 150px;
    }

    /* footer */

    .some-icons .twitter {
        border: 15px solid rgb(191 146 91);
        width: 15%;
        padding: 8px 24px 6px 8px;
        font-size: 180%;
        clip-path: 0;
        border-radius: 50px 50px 50px 50px;
    }

    .some-icons .facebook {
        border: 15px solid rgb(191 146 91);
        width: 15%;
        font-size: 180%;
        padding: 8px 24px 6px 8px;
        clip-path: 0;
        border-radius: 50px 50px 50px 50px;
    }

    .some-icons .instagram {
        border: 15px solid rgb(191 146 91);
        width: 15%;
        font-size: 180%;
        padding: 8px 24px 6px 8px;
        clip-path: 0;
        border-radius: 50px 50px 50px 50px;
    }

    footer h2 {
        font-size: 2em;
    }

    footer li {
        font-size: 1.2em;
    }

}

/* media query screen över 799px */

@media screen and (min-width: 799px) {
    .wrapper {
        display: grid;
        grid-template-areas:
            "content-1 content-1"
            "content-2 content-3"
            "content-4 content-4"
            "content-5 content-5"
            "content-6 content-6";
    }


    .content-2 {
        grid-area: content-2;
        height: fit-content;
        width: 50vw;
    }

    .services .services-text {
        display: grid;
        display: flex;
        grid-template-areas:
            "hair-styles"
            "beard-trim";
        grid-template-rows: 55vh 55vh;
    }

    .services2-text {
        display: flex;
    }

    .content-3 {
        grid-area: content-3;
        height: fit-content;
        width: 50vw;
    }

    .services2-text .hot-shave {
        width: 50vw;
    }

    .services2-text .hair-shampoo {
        width: 50vw;
    }

    .services-text p {
        font-size: 1em;
        padding-bottom: 12%;
    }

    .services2-text p {
        font-size: 1em;
        padding-bottom: 12%;
    }

    .content-4 {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .about-us {
        width: 100vw;
        margin: 0;
        margin: 0 5% 0 5%;
    }

    .about-us img {
        object-fit: cover;
        object-position: 50% 0;
        height: 80vh;
        width: 35vw;
    }

    .about-barber {
        margin-left: 5%;
        float: right;
        width: 40vw;
    }

    .about-us h3 {
        margin-bottom: 10%;
    }

    .experience {
        width: 70%;
        height: 110px;
    }

    .review {
        margin-top: 0%;
    }

    nav {
        width: 60vw;
    }

    nav a {
        float: right;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .header-text a:first-child {
        padding: 20px 16px;
        margin-right: 10px;
    }

    nav a.fa.fa-bars {
        float: right;
    }

    .header-text #menu-links a:hover {
        color: rgb(191 146 91);
        background-color: rgba(255, 255, 255, 0);
    }

    .header-text h1 {
        margin-left: 140px;
        max-width: 20vw;
    }

    .banner-text {
        margin-left: 45vw;
    }

    .banner-text h2 {
        margin-top: 30vh;
        max-width: 50vw;
    }

    .banner-text h3 {
        max-width: 50vw;
        font-size: 4em;
        margin-bottom: 2%;
    }

    .menu-line {
        border-left: 3px solid rgb(191 146 91);
        margin-left: 3%;
        padding-top: 0%;
        padding-left: 7%;
        height: 190px;
    }

    footer li p {
        padding-left: 5%;
    }

    .content-6 {
        height: min-content;
    }


}